<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="dafcc5c4-88a8-4749-a3ac-3fb6a8289a33" Name="TournamentPatchModInstaller" Language="1033" Version="1.6.4" Manufacturer="Tournament Patch" UpgradeCode="664efaf7-ab73-44f9-9ac1-0b98202a9ae8">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <UIRef Id="WixUI_FeatureTree"/>
    <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
    <WixVariable Id="WixUILicenseRtf" Value="Visuals\License.rtf" />

    <Property Id="DOWROOTFOLDER">
      <RegistrySearch Id="DowRootFolder"
                      Root="HKLM"
                      Key="SOFTWARE\WOW6432Node\THQ\Dawn of War - Soulstorm"
                      Name="installlocation"
                      Type="raw" />
    </Property>

    <CustomAction Id="SetTargetDir" Property="TARGETDIR" Value="[DOWROOTFOLDER]"/>


    <InstallUISequence>
      <Custom Action="SetTargetDir" Before="CostFinalize"/>
    </InstallUISequence>

    <InstallExecuteSequence>

    </InstallExecuteSequence>


    <Feature Id="TpMod" Title="TournamentPatch Mod" Level="1">
      <ComponentGroupRef Id="TpModComponents" />
    </Feature>

    <Feature Id="CameraFix" Title="Camera Fix" Display="collapse">
      <ComponentGroupRef Id="CameraFix"/>
    </Feature>

    <Feature Id="QwertyHotkeys" Title="Set QWERTY hotkeys by default" Display="collapse">
      <ComponentGroupRef Id="QwertyHotkeys"/>
    </Feature>

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="TOURNAMENTPATCH" Name="TournamentPatch">
        <Directory Id="TP_DATA" Name="Data">
          <Directory Id="AI" Name="ai">
            <Directory Id="CORE" Name="core">
              <Directory Id="CORE_PLANS" Name="plans"/>
              <Directory Id="CORE_STRATEGIES" Name="strategies"/>
              <Directory Id="CORE_TACTICS" Name="tactics"/>
            </Directory>
            <Directory Id="DOC" Name="doc"/>
            <Directory Id="MAPDB" Name="mapdb"/>
            <Directory Id="METAMAP" Name="metamap"/>
            <Directory Id="PLANS" Name="plans"/>
            <Directory Id="RACES" Name="races">
              <Directory Id="AI_CHAOS" Name="chaos_marine_race">
                <Directory Id="AI_CHAOS_INFO" Name="info"/>
                <Directory Id="AI_CHAOS_STRATEGIES" Name="strategies"/>
                <Directory Id="AI_CHAOS_TACTICS" Name="tactics"/>
              </Directory>
              <Directory Id="AI_DE" Name="dark_eldar_race">
                <Directory Id="AI_DE_INFO" Name="info"/>
                <Directory Id="AI_DE_STRATEGIES" Name="strategies"/>
                <Directory Id="AI_DE_TACTICS" Name="tactics"/>
              </Directory>
              <Directory Id="AI_ELDAR" Name="dark_eldar_race">
                <Directory Id="AI_ELDAR_INFO" Name="info"/>
                <Directory Id="AI_ELDAR_STRATEGIES" Name="strategies"/>
                <Directory Id="AI_ELDAR_TACTICS" Name="tactics"/>
              </Directory>
              <Directory Id="AI_GUARD" Name="guard_race">
                <Directory Id="AI_GUARD_INFO" Name="info"/>
                <Directory Id="AI_GUARD_STRATEGIES" Name="strategies"/>
                <Directory Id="AI_GUARD_TACTICS" Name="tactics"/>
              </Directory>
              <Directory Id="AI_NECRON" Name="necron_race">
                <Directory Id="AI_NECRON_INFO" Name="info"/>
                <Directory Id="AI_NECRON_STRATEGIES" Name="strategies"/>
                <Directory Id="AI_NECRON_TACTICS" Name="tactics"/>
              </Directory>
              <Directory Id="AI_NPC" Name="npc_race">
                <Directory Id="AI_NPC_INFO" Name="info"/>
              </Directory>
              <Directory Id="AI_ORK" Name="ork_race">
                <Directory Id="AI_ORK_INFO" Name="info"/>
                <Directory Id="AI_ORK_STRATEGIES" Name="strategies"/>
                <Directory Id="AI_ORK_TACTICS" Name="tactics"/>
              </Directory>
              <Directory Id="AI_SISTERS" Name="sisters_race">
                <Directory Id="AI_SISTERS_INFO" Name="info"/>
                <Directory Id="AI_SISTERS_STRATEGIES" Name="strategies"/>
                <Directory Id="AI_SISTERS_TACTICS" Name="tactics"/>
              </Directory>
              <Directory Id="AI_SM" Name="space_marine_race">
                <Directory Id="AI_SM_INFO" Name="info"/>
                <Directory Id="AI_SM_STRATEGIES" Name="strategies"/>
                <Directory Id="AI_SM_TACTICS" Name="tactics"/>
              </Directory>
              <Directory Id="AI_TAU" Name="tau_race">
                <Directory Id="AI_TAU_INFO" Name="info"/>
                <Directory Id="AI_TAU_STRATEGIES" Name="strategies"/>
                <Directory Id="AI_TAU_TACTICS" Name="tactics"/>
              </Directory>
            </Directory>
            <Directory Id="STRATEGIES" Name="strategies">
              <Directory Id="ADVANCED" Name="advanced"/>
              <Directory Id="EASY" Name="easy"/>
              <Directory Id="HARD" Name="hard"/>
              <Directory Id="STANDARD" Name="standard"/>
            </Directory>
            <Directory Id="TACTICS" Name="tactics">
              <Directory Id="TACTICS_CHAOS" Name="chaosmarines"/>
              <Directory Id="TACTICS_DE" Name="darkeldar"/>
              <Directory Id="TACTICS_ELDAR" Name="eldar"/>
              <Directory Id="TACTICS_GUARD" Name="guard"/>
              <Directory Id="TACTICS_NECRON" Name="necron"/>
              <Directory Id="TACTICS_ORK" Name="orks"/>
              <Directory Id="TACTICS_SISTERS" Name="sistersofbattle"/>
              <Directory Id="TACTICS_TAU" Name="tau"/>
            </Directory>
          </Directory>
          <Directory Id="ART" Name="art">
            <Directory Id="EBPS">
              <Directory Id="ART_RACES" Name="races">
                <Directory Id="ART_CHAOS">
                  <Directory Id="ART_CHAOS_TEXTURE" Name="texture_share"/>
                  <Directory Id="ART_CHAOS_TROOPS" Name="troops"/>
                </Directory>
                <Directory Id="ART_ELDAR" Name="eldar">
                  <Directory Id="ART_ELDAR_STRUCTURES" Name="structures"/>
                  <Directory Id="ART_ELDAR_TEXTURE" Name="texture_share"/>
                  <Directory Id="ART_ELDAR_TROOPS" Name="troops"/>
                </Directory>
                <Directory Id="ART_NECRON" Name="necrons">
                  <Directory Id="ART_NECRON_TROOPS" Name="troops"/>
                </Directory>
                <Directory Id="ART_ORK">
                  <Directory Id="ART_ORK_TEXTURE" Name="texture_share"/>
                  <Directory Id="ART_ORK_TROOPS" Name="troops"/>
                </Directory>
                <Directory Id="ART_SM">
                  <Directory Id="ART_SM_TEXTURE" Name="texture_share"/>
                  <Directory Id="ART_SM_TROOPS" Name="troops"/>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
          <Directory Id="ATTRIB" Name="attrib">

          </Directory>
          <Directory Id="DEFPROFILE" Name="defprofile">

          </Directory>
          <Directory Id="SCAR" Name="scar">

          </Directory>
          <Directory Id="SCENARIOS" Name="scenarios">

          </Directory>
          <Directory Id="SOUND" Name="sound">

          </Directory>
        </Directory>


        <Directory Id="TP_LOCALE" Name="Locale">

        </Directory>
      </Directory>


      <Directory Id="ENGINE" Name="Engine">
        <Directory Id="DATA" Name="Data"/>
      </Directory>

      <Directory Id="PROFILES" Name="Profiles">
        <Directory Id="PROFILE1" Name="Profile1">
          <Directory Id="TOURNAMENTPATCH_PROFILE" Name="tournamentpatch"/>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>


  <Fragment>
    <ComponentGroup Id="TpModComponents" Directory="TARGETDIR">

      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <Component Id="ProductComponent" Guid="702c1d53-5003-4b0b-84a5-67ee117289c3">
        <File Id="TournamentPatch.module" Name="TournamentPatch.module" Source="..\..\Files\TournamentPatch.module"></File>
        <!-- TODO: Insert files, registry keys, and other resources here. -->
      </Component>
    </ComponentGroup>
  </Fragment>


  <Fragment>
    <ComponentGroup Id="CameraFix" Directory="DATA">
      <Component Id="CameraFix" Guid="675abc99-ed94-4cfe-9152-928353b0cd2d">
        <File Id="CameraHigh.lua" Source="..\..\Files\CameraFix\camera_high.lua"></File>
        <File Id="CameraEd.lua" Source="..\..\Files\CameraFix\camera_ed.lua"></File>
        <File Id="CameraLow.lua" Source="..\..\Files\CameraFix\camera_low.lua"></File>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="QwertyHotkeys" Directory="TOURNAMENTPATCH_PROFILE">
      <Component Id="QwertyHotkeys" Guid="800663d1-0137-48b9-8731-e020d8153044">
        <File Id="KeyDefaults.lua" Source="..\..\Files\QwertyHotkeys\KEYDEFAULTS.LUA"></File>
      </Component>
    </ComponentGroup>
  </Fragment>

</Wix>
