<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="TpModComponents">
      <Component Id="TournamentPatch.module" Directory="TARGETDIR" Guid="702c1d53-5003-4b0b-84a5-67ee117289c3">
        <File Id="TournamentPatch.module" Name="TournamentPatch.module" Source="..\..\Files\TournamentPatch.module"/>
      </Component>
      <Component Id="TPData.sga" Directory="TP" Guid="c5a09b03-41a3-4607-889f-194bc70200da">
        <File Id="TPData.sga" Name="TPData.sga" Source="..\..\Files\TournamentPatch\TPData.sga"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
